/* Update font and alignment */
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Form styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="submit"] {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Table styling */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

td {
    height: 60px;
    width: 60px;
}

/* Body styling */
body {
    background-color: #f8f8f8;
}

/* Button styling */
button {
    display: inline-block;
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
